<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="uygulama_adi"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- BURAYA EKLEYİN -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3375251502"/> <!-- Test ID'sidir, kendi ID'nizle değiştirebilirsiniz -->

        <activity ...>
            ...
        </activity>
    </application>
</manifest>
